.section3 {
  background-image: url("../../assets/img/back_prom.jpg");
  background-size: contain;
  width: 100%;
  height: 600px;
  //margin-top: -30px;
  .overlay {
    width: 100%;
    height: 600px;
    // margin-top: -30px;
    background-color: rgba(6, 5, 8, 0.65);
    .slider__1 {
      text-align: center;
      h2 {
        color: white;
        position: relative;
        padding-top: 150px;
        padding-left: 50px;
        font-size: 30px;
        font-weight: 400;
      }
      h1 {
        padding-left: 45px;
        color: white;
        font-size: 54px;
      }
    }
    .slider_button {
      text-align: center;
      .but1 {
        display: inline-block;
        margin-left: 57px;
        background: transparent;
        font-size: 17px;
        font-weight: 500;
        padding-top: 17px;
        padding-left: 17px;
        padding-bottom: 15px;
        padding-right: 15px;
        width: 150px;
        border: 1.5px solid white;
        a {
          color: white;
          cursor: pointer;
          text-decoration: none;
        }
      }
      .but2 {
        display: inline-block;
        margin-left: 20px;
        background-color: orange;
        font-size: 16px;
        font-weight: 600;
        padding-top: 17px;
        padding-left: 20px;
        padding-bottom: 15px;
        padding-right: 15px;
        width: 170px;
        border: 1.5px solid orange;

        a {
          color: black;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
